# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# import { useEffect, useState } from 'react'
# import axios from 'axios'

# const useFetch = (url) => {
#     const [data, setData] = useState([])
#     const [loading, setLoading] = useState(false)
#     const [error, setError] = useState(false)

#     // whenever url chage it will fire
#     useEffect(() => {
#         const fetchData =  async () => {
#             setLoading(true)
#             try {
#                 const res = await axios.get(url)
#                 // if there is data then push it
#                 setData(res.data)
#             } catch(err) {
#                 setError(err)
#             }
#             setLoading(false)
#         }
#         fetchData()
#     }, [url])

#     const reFetch = async () => {
#         setLoading(true)
#         try {
#             const res = await axios.get(url)
#             setData(res.data)
#         } catch (err) {
#             setError(err)
#         }
#     }

#     return { data, loading, error, reFetch}
# }

# export default useFetch